/* Write your CSS here */
.container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
}
.inner-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px #eaebed;
  border: 1px #e4ebf3 solid;
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  width: 400px;
}
.heading {
  color: #0b69ff;
  font-weight: bold;
}
.para {
  color: #333333;
  font-weight: bold;
}
.button {
  color: white;
  background-color: #0b69ff;
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  margin-top: 20px;
  font-weight: bold;
}
.number {
  color: #0b69ff;
  font-weight: bold;
  font-size: 40px;
}
